.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  max-width: 80%;
  width: 80%;

  text-align: center;
}

.urlInput {
  width: 1040px;
}

.mainContent form {
  margin-top: 50px;
}
.logo {
  height: 150px;
}

